body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  
  background-color: black;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  margin-top: 300px;

}

.name{
  color: white;
  font-size: 20px;
  padding-top: 25px;

}

 .temp{
  color:white;
  font-size: 60px;
  padding-top: -50px;
  
} 

.min-maxtemp{
  color: white;
  margin-top: 15px;



}

.conditionText{
  color: white;
  margin-top: -15px;

  
}

.icon{
  color:white;
  height: 40px;
 

}

.currenttemp{
  color: white;
}

.nexthour{
  color:white;
}

.secondhour{
  color: white;
}

.list-group {
  color: white;
  display:inline-block

}